body {
  background-color: #f9fbff;
  color: #222;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

.navbar {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.main-container {
  margin-top: 70px;
}

.section-container {
  padding: 80px 20px;
}

.section-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  color: #3b3b98;
}

.home-section {
  height: 100vh;
  background: linear-gradient(120deg, #3b3b98, #8e9efc);
  color: white;
}

button:hover {
  transform: scale(1.05);
  transition: 0.3s ease;
}
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 59, 152, 0.5);
}